.blue {
    background-color: #0078d4;
}

.white.text {
    color: white;
}

#skype {
    padding-top: 1%;
}

#pesquisa {
    font-family: "FontAwesome";
    color: rgba(0, 0, 0, 1);
    width: 100%;
    border-color: rgba(138, 184, 221, 0.1);
    background-color: rgba(110, 184, 245, 0.959);
}

#pesquisa:focus {
    background-color: snow;
}

.background_gray {
    background-color: #F4EEEE;
}

.bigText {
    font-size: 1.3rem;
}

.largeText {
    font-size: 2rem;
}

.icone {
    width: 2.5rem;
}

.big {
    height: 3rem !important;
}

.paddinTop {
    padding-top: 0.5rem;
}

r