.blue{
    background-color: #0078d4;
}
.white.text{
    color: white;
}

.bigText{
    font-size: 1.3rem; 
}
.largeText{
    font-size: 2rem; 
}
.icone{
    width: 2.5rem;
}
.big{
    height : 3rem !important;
}

.paddinTop{
    padding-top: 0.5rem;
}