body{
    background-image: url("../assets/images/bg_login.jpg");
}

.squareWhite{
    background-color: white;
    width: 35rem !important;
    margin-top: 12%
}
.padding{
  padding: 1rem;
}
.input{
    border-width: 0rem !important;
    width: 12rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .error{
    border-style: solid !important;
    border-width: 0.1rem !important;
    border-color: red !important;
  }

  .pointer{
    cursor: pointer !important;
  }

  .aling-right{
    float: right !important;
  }

  .titulo{
    font-size: 2rem;
  }

  .icone{
    width: 2rem;
  }
  .icone.texto{
    margin-top: 15% !important;
    margin-left: 5% !important;
    font-size: 1.2rem;
  }